h1{
    text-align: center; 
    font-family: 'Arial', sans-serif; 
    margin-top: 10vh;
}
.timer{ 
    font-size: 5rem; 
    font-family: 'Courier New', Courier, monospace; 
    text-align: center; 
    margin-top: 20vh;
}

.btn{
    display: block; 
    margin: 30px auto; 
    padding: 10px 20px; 
    font-size: 1.5rem; 
    cursor: pointer;
}